@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "oswald";
}


#container{
    height: 100vh;
   
}

.navigation__nav-bar{
    font-family: "Oswald";
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.9);  
}

@media (max-width: 1200px) {
    .navigation__nav{
        flex-direction: column;
    }
    .presentation__photo-img{
        height: 500px;
        width: 100%;
    }

    .presentation__enseigne-img{
        height: 450px;
        width: 40%;
        margin-top: 110px;
        
    }

    

    .traditions__element{
        flex-direction: column;
        margin: 50px;
    }

    .story__element{
        /* flex-direction: column-reverse; */
        flex-wrap: wrap;
        margin: 50px;
        
    }

    .image1{
        width: 800px;
        margin: 0;
        margin-bottom: 0;
    }

    .a-button {
        margin: 10px -30px;
    }

    .traditions{
        flex-direction: row;
    }

    .galerie__image{
        flex-direction: column;
        
    }

    .parallax-container{
        width: 796px;
    }
}


.navigation__nav{
    /* height: 140px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); 
}

.navigation__list{
    display: flex;
    list-style: none;
    font-size: 22px;

}

a{
    text-decoration: none;
    color: white;
}

.navigation__link{
    color: white;
}
.navigation__link:hover{
    color: rgb(209, 206, 201);
}

.navigation__logo-img{
    /* width: 98px; */
    color: white;
}

.navigation__item-icon{
    font-size: 25px;
    margin: 20px;
    color: white;
}

.navigation__item-icon:hover{
    color: rgb(209, 206, 201);
    cursor: pointer;
}

.navigation__item{
    margin: 20px;
    color: white;
    
}

/* .presentation{
    max-width: 1440px;
} */


.presentation__div{
    position: relative;
    height: 100%;
}

.presentation__photo{
    position: relative;
}

.presentation__photo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 825px;
    /* max-width: 1440px; */
}
    

.presentation__enseigne-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:73%; */
    position: absolute;
    top: 15%;
    left: 31%;
}

.bandeau__citation{
    margin-top: -5px;
    width: 100%;
}

.bandeau__citation-text{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(200, 157, 101);
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    height: 160px;
    font-size: 30px;
}

.traditions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* margin: 0; */
}

.traditions__element{
    /* width: 1440px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}
/* .stor */

.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description__titre{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.description__sous-titre{
    display: flex;
    justify-content: center;
     margin-top: 5px;
     font-size: 17px;
     font-family: 'Times New Roman', Times, serif;
     font-style: italic;
}

.description__text{
    width: 100%;
    font-family: "Raleway";
    text-align: center;
    color: rgb(161, 159, 159);
    /* padding: 30px; */
}

.image{
    /* width: 33.5%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image1{
    height: 450px;
}

.image2{
    position: absolute ;
}

.story__element{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    /* min-width: 1900px; */
    /* width: 100%; */
}

.a-button {
    display: block;
    height: 60px;
    width: 150px;
}

.button{
    /* display: flex; */
    justify-content: center;
    background-color: rgb(200, 157, 101);
    font-size: 18px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 3px;
}

.button:hover{
    background-color: rgb(216, 185, 142);
}

.galerie{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.galerie__image{
    width: 100%;
    margin: 0;
    display: flex;
    position: relative;
} 

.galerie__img{
  width: 100%;
}

    
figure{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    
}

.fa-solid{
    /* background: url(img/h5-parallax-img-1.png); */
    /* border: none; */
    opacity: 0;
    position: absolute;
   font-size: 100px;
    color: white;
}

/* .fa-solid:hover{
   
   
} */

/* .galerie__img:hover{
    transition: all 0.5s;
    background-size: cover;
    background-attachment: fixed;
}  */

.parallax-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    /* width: 473px;
    height: 477px; */
    /* overflow: hidden; */
}

.parallax-container:hover .galerie__parallax{
    transition: all 0.5s;
    opacity: 1;
    /* z-index: 0;  */
}

.parallax-container:hover .fa-solid{
    transform: rotateZ(90deg);  
    transition: all .5s;
    opacity: 1;
    backface-visibility: hidden;
    /* z-index: 0; */
}

.galerie__parallax{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.galerie__parallax{
    opacity: 0;
    /* transition: opacity 0.3s ease; */
}

.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    
}

/* .services__rubrique:hover{
    color: rgb(216, 185, 142);
} */

.services__text-titre:hover{
    color: rgb(216, 185, 142);
}

.services__icon:hover{
    filter: sepia(150%);
}

.services__rubrique:hover .services__icon{
    filter: sepia(150%);
}

.services__rubrique:hover .services__text-titre{
    color: rgb(216, 185, 142);
}

.services__rubrique{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;

}

.services__text{
    width: 100%;
    padding: 30px;
    color: rgb(161, 159, 159);
    text-align: center;
}

.parallax{
    display: flex;
    justify-content: center;
    background-image: url('../img/h5-parallax-img-2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.parallax__view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.parallax__view-titre{
    font-size: 50px;
}

.parallax__view-text{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.google-map{
    display: flex;
    
    
   
}

.google-map-iframe{
    position: relative;
}

.google-map-iframe::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;

}

iframe{
    background-color: black;
    width: 100%;
    /* filter: grayscale(); */
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: black;
}

@media (max-width: 768px){
    .presentation__photo-img{
        height: 500px;
       
    }
}



